{{each items}}
<li class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-element" style="text-align: center;">
    <div style="margin: 10px;">
        <!--@Html.Action("GetProductImage", "Home", new { @id = ${Id} })-->
        <img class="img-responsive" src="/Images/Product/{{if Image == null}}Default.jpg{{else}}${Image}{{/if}}" style="height: 220px; display: block; margin-left: auto; margin-right: auto;">
    </div>
    ${Name}<br />
    ${Manufacturer}<br />
    ${Price} грн
    <a class="product-link" href="/Home/Product/${Id}"></a>
    <!--@Html.ActionLink(" ", "Product", new { @id = ${Id} }, new { @class = "product-link" })-->
</li>
{{/each}}